<div nz-form class="max-w-xs ml-48 mt-48">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input [formControl]="username" placeholder="账号" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input [formControl]="password" placeholder="密码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="mb-4">
    <div nz-col [nzSpan]="12">
    </div>
    <div nz-col [nzSpan]="12">
      <a class="float-right">忘记密码</a>
    </div>
  </div>
  <button nz-button class="w-full mb-4" [nzType]="'primary'" (click)="login()" [nzLoading]="isLogging">登录</button>
</div>
