<!-- 展示当前课程表格 -->
<h3 nz-typography class="mt-2">当前课程</h3>
<nz-table #currentLessonInTable [nzPageSize]="20" nzShowQuickJumper [nzData]='currentDisplayLessonList!'>
  <thead>
    <tr>
      <th nzCustomFilter>课程代码
        <nz-filter-trigger [(nzVisible)]="visibleSearchCode" [nzActive]="searchCodeValue.length > 0"
          [nzDropdownMenu]="searchCodeMenu">
          <i nz-icon nzType="filter" nzTheme="twotone"></i>
        </nz-filter-trigger>
      </th>
      <th nzCustomFilter>课程名称
        <nz-filter-trigger [(nzVisible)]="visibleSearchTitle" [nzActive]="searchTitleValue.length > 0"
          [nzDropdownMenu]="searchTitleMenu">
          <i nz-icon nzType="filter" nzTheme="twotone"></i>
        </nz-filter-trigger>
      </th>
      <th>班级</th>
      <th>类别</th>
      <th>时间</th>
      <th>老师</th>
      <!-- <th>通过助教申请人数/课程设置助教数</th> -->
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of currentLessonInTable.data">
      <td>{{ data.code }}</td>
      <td>{{ data.title }}</td>
      <td>{{ data.class }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.term}}</td>
      <td>{{ filiterTeacherName(data.Teachers) }}</td>
      <!-- <td>{{ data.passCount}}/{{ data.passCount}}</td> -->
      <td>
        <a nz-button nzType="link" (click)="showModalShowInfo(data)">更多课程信息</a>
        <nz-divider nzType="vertical"></nz-divider>

        <a nz-button nzType="link" *ngIf="requestlseeonIDList.indexOf(data.lid)===-1" nz-popconfirm
          nzPopconfirmTitle="确定要申请课程 {{data.title}} 吗?" nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="RequestConfirm(data)" (nzOnCancel)="Cancel()" nzOkText="确认申请" nzCancelText="取消">申请课程</a>
        <a nz-button nzType="link" *ngIf="requestlseeonIDList.indexOf(data.lid)!==-1" nz-popconfirm
          nzPopconfirmTitle="确定要撤销申请课程 {{data.title}} 吗?" nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="CancelRequestConfirm(data)" (nzOnCancel)="Cancel()" nzOkText="确认撤销申请"
          nzCancelText="取消">撤销申请课程</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- 课程名的搜索的下拉框 -->
<nz-dropdown-menu #searchTitleMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div>
      <input type="text" nz-input placeholder="按课程名搜索" [(ngModel)]="searchTitleValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchTitle()" class="search-button">
        搜索
      </button>
      <button nz-button nzSize="small" (click)="resetTitle()">取消</button>
    </div>
  </div>
</nz-dropdown-menu>

<!-- code的搜索的下拉框 -->
<nz-dropdown-menu #searchCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div>
      <input type="text" nz-input placeholder="按课程代码搜索" [(ngModel)]="searchCodeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchCode()" class="search-button">
        搜索
      </button>
      <button nz-button nzSize="small" (click)="resetCode()">取消</button>
    </div>
  </div>
</nz-dropdown-menu>

<!-- 查看课程信息的对话框 -->
<nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisibleShowInfo" nzTitle="查看课程信息" (nzOnOk)="handleOkShowInfo()"
  (nzOnCancel)="handleOkShowInfo()" [nzOkLoading]="isOkLoadingShowInfo">
  <ng-container *nzModalContent>
    <nz-descriptions nzTitle="课程信息" nzBordered>
      <nz-descriptions-item nzTitle="课程代码">{{currentSelectedLesson.code}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="课程名称">{{currentSelectedLesson.title}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="课程描述">{{currentSelectedLesson.description}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="教学班级">{{currentSelectedLesson.class}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="学分">{{currentSelectedLesson.score}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="学生数量">{{currentSelectedLesson.studentNum}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="课程类型">{{currentSelectedLesson.type}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="时间">{{currentSelectedLesson.term}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="课程已通过助教数量/课程总需要助教数量">
        {{currentSelectedLesson.passCount}} / {{currentSelectedLesson.maxPass}}</nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleOkShowInfo()">确认</button>
  </div>
</nz-modal>
