<button nz-button [nzType]="'primary'" (click)="showModalUpload()"><span>导入用户</span></button>

<nz-modal [(nzVisible)]="isVisibleUpload" nzTitle="导入用户" (nzOnCancel)="handleCancelUpload()" (nzOnOk)="handleOkUpload()"
  [nzOkLoading]="isOkLoadingUpload">
  <ng-container *nzModalContent>
    <nz-upload [nzLimit]='1' [nzMultiple]="true" [nzBeforeUpload]="beforeUpload">
      <button nz-button>
        <i nz-icon nzType="upload"></i>
        <span>选择文件(excel)</span>
      </button>
    </nz-upload>
    <nz-table #UploadTable [nzData]="importUserData" [nzPageSize]="20">
      <thead>
        <tr>
          <th *ngFor="let data of importUserHeader">{{data}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of UploadTable.data">
          <td *ngFor="let item of data">{{ item }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelUpload()">取消</button>
    <button nz-button nzType="primary" (click)="handleOkUpload()">确认导入</button>
  </div>
</nz-modal>

<h3 nz-typography class="mt-2">当前用户</h3>
<nz-table #currentUserInTable [nzPageSize]="20" nzShowQuickJumper [nzData]='currentDisplayUserList'>
  <thead>
    <tr>
      <th nzCustomFilter>账户
        <nz-filter-trigger [(nzVisible)]="visibleSearchSid" [nzActive]="searchSidValue.length > 0"
          [nzDropdownMenu]="searchSidMenu">
          <i nz-icon nzType="filter" nzTheme="twotone"></i>
        </nz-filter-trigger>
      </th>
      <th>邮箱</th>
      <th nzCustomFilter>姓名
        <nz-filter-trigger [(nzVisible)]="visibleSearchName" [nzActive]="searchNameValue.length > 0"
          [nzDropdownMenu]="searchNameMenu">
          <i nz-icon nzType="filter" nzTheme="twotone"></i>
        </nz-filter-trigger>
      </th>
      <th>身份</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of currentUserInTable.data">
      <td>{{ data.sid }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.name }}</td>
      <td>{{ role[data.role] }}</td>
      <td>
        <a nz-button nzType="link" (click)="showModalResetPassword(data)">重置用户密码</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzType="link" (click)="showModalResetRole(data)">修改用户身份</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzType="link" nz-popconfirm nzPopconfirmTitle="确定要删除用户 {{data.name}} 吗?"
          nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteConfirm(data)" (nzOnCancel)="deleteCancel()"
          nzOkText="确认删除" nzCancelText="取消">删除用户</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- 姓名的搜索的下拉框 -->
<nz-dropdown-menu #searchNameMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div>
      <input type="text" nz-input placeholder="按名字搜索" [(ngModel)]="searchNameValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchName()" class="search-button">
        搜索
      </button>
      <button nz-button nzSize="small" (click)="resetName()">取消</button>
    </div>
  </div>
</nz-dropdown-menu>

<!-- sid的搜索的下拉框 -->
<nz-dropdown-menu #searchSidMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div>
      <input type="text" nz-input placeholder="按账户搜索" [(ngModel)]="searchSidValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchSid()" class="search-button">
        搜索
      </button>
      <button nz-button nzSize="small" (click)="resetSid()">取消</button>
    </div>
  </div>
</nz-dropdown-menu>

<!-- 重置密码的对话框 -->
<nz-modal [(nzVisible)]="isVisibleResetPassword" nzTitle="重置密码" (nzOnCancel)="handleCancelResetPassword()"
  (nzOnOk)="handleOkResetPassword()" [nzOkLoading]="isOkLoadingResetPassword">
  <ng-container *nzModalContent>
    将用户:
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;姓名 {{currentSelectedUser.name}}
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;账号: {{currentSelectedUser.sid}}
    <br>
    的密码重置为:
    <input nz-input placeholder="密码重置" [(ngModel)]="resetPasswordValue" />
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelResetPassword()">取消</button>
    <button nz-button nzType="primary" (click)="handleOkResetPassword()">确认修改</button>
  </div>
</nz-modal>

<!-- 重置身份的对话框 -->
<nz-modal [(nzVisible)]="isVisibleResetRole" nzTitle="重置身份" (nzOnCancel)="handleCancelResetRole()"
  (nzOnOk)="handleOkResetRole()" [nzOkLoading]="isOkLoadingResetRole">
  <ng-container *nzModalContent>
    选择用户:
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;姓名 {{currentSelectedUser.name}}
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;账号: {{currentSelectedUser.sid}}
    <br>
    的身份将重置为:
    <nz-radio-group [(ngModel)]="resetRoleValue">
      <label nz-radio nzValue="1">教务</label>
      <label nz-radio nzValue="2">教师</label>
      <label nz-radio nzValue="3">学生</label>
    </nz-radio-group>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelResetRole()">取消</button>
    <button nz-button nzType="primary" (click)="handleOkResetRole()">确认修改</button>
  </div>
</nz-modal>
