<div class="ml-8">
  <!-- <div>
    <button class="w-80 h-10 mt-2" nz-button [nzType]="'primary'" (click)="showModalInner()"><span
        class="font-bold">创建新申请 (课程在系统内)</span></button>
  </div> -->
  <div class="mt-6">
    <button class="w-80 h-10 " nz-button [nzType]="'primary'" (click)="showModalOuter()"><span>创建新申请
        (课程不在系统内)</span></button>
  </div>



  <!-- 系统外课程助教申请的对话框 -->
  <nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisibleOuter" nzTitle="系统外课程助教申请"
    (nzOnCancel)="handleCancelOuter()" (nzOnOk)="handleOkOuter()" [nzOkLoading]="isOkLoadingOuter">
    <ng-container *nzModalContent>
      <nz-descriptions nzTitle="" nzBordered>
        <nz-descriptions-item nzTitle="课程名称">
          <input nz-input [(ngModel)]="currentOuterRequest.lessonTitle" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="课程代码">
          <input nz-input [(ngModel)]="currentOuterRequest.lessonCode" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="学期">
          <input nz-input [(ngModel)]="currentOuterRequest.lessonTerm" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="课程班级">
          <input nz-input [(ngModel)]="currentOuterRequest.lessonClass" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="课程学分">
          <input nz-input [(ngModel)]="currentOuterRequest.lessonScore" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="学生人数">
          <input nz-input [(ngModel)]="currentOuterRequest.lessonStudentNum" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="课程类型">
          <input nz-input [(ngModel)]="currentOuterRequest.lessonType" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="教师姓名">
          <input nz-input [(ngModel)]="currentOuterRequest.teacherName" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="教师职称">
          <input nz-input [(ngModel)]="currentOuterRequest.teacherJob" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="教师单位">
          <input nz-input [(ngModel)]="currentOuterRequest.teacherOrganization" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="是否抵扣学时">
          <nz-radio-group [(ngModel)]="currentOuterRequest.deduction">
            <label nz-radio [nzValue]='true'>是</label>
            <label nz-radio [nzValue]='false'>否</label>
          </nz-radio-group>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="抵扣学时数量">
          <input nz-input *ngIf="currentOuterRequest.deduction" [(ngModel)]="currentOuterRequest.deductTime" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="教学助理自评(不超过100字)" nzSpan="3">
          <nz-textarea-count [nzMaxCharacterCount]="100">
            <textarea rows="4" [(ngModel)]="currentOuterRequest.studentComment" nz-input></textarea>
          </nz-textarea-count>
        </nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelOuter()">取消</button>
      <button nz-button nzType="primary" (click)="handleOkOuter()" [nzLoading]="isOkLoadingOuter">确认提交申请</button>
    </div>
  </nz-modal>

  <!-- 系统外课程助教申请提醒的对话框 -->
  <nz-modal [(nzVisible)]="isVisibleOuterWarning" nzTitle="注意事项" (nzOnCancel)="handleCancelOuterWarning()"
    (nzOnOk)="handleOkOuterWarning()">
    <ng-container *nzModalContent>
      <div class="text-base">
        <p>
          1. 此申请方式仅用于申请教务系统内<span class=" font-bold">不存在</span>的课程或系统内<span
            class=" font-bold">不存在</span>的教师的助教，在申请前请确保相关课程与教师确实在查询页中不存在。
        </p>
        <p> 2. 由于此申请方式默认教师方已同意，请<span class=" font-bold">确保在申请前已经与相关任课老师进行联系并确认老师同意此申请</span>。申请发出后结果由申请人自行承担。</p>
        <p> 3. 在教务通过此申请前可随时撤销申请，但大部分申请内容发出后不可修改，请<span class=" font-bold">谨慎填写与提交</span>。</p>
      </div>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelOuterWarning()">取消</button>
      <button nz-button nzType="primary" (click)="handleOkOuterWarning()">确认已阅读注意事项</button>
    </div>
  </nz-modal>
</div>
