<h3 nz-typography>开始时间:{{currentTimeFrom}} &nbsp;&nbsp; 结束时间:{{currentTimeTo}}</h3>

<h3 nz-typography>当前助教双选 : {{status[currentStatus]}}</h3>
<br>
<button nz-button [nzSize]='"large"' nzType="default" routerLink="../personal" routerLinkActive="active">个人信息</button>
<br>
<button nz-button [nzSize]='"large"' nzType="default" routerLink="../lesson" routerLinkActive="active">可申请课程</button>
<br>
<button nz-button [nzSize]='"large"' nzType="default" routerLink="../application"
  routerLinkActive="active">我的申请</button>
<br>
