<div class="ml-8 pr-8">
  <!-- 展示我的课程表格 -->
  <h3 nz-typography class="mt-2">我的课程</h3>
  <nz-table #currentLessonInTable [nzPageSize]="10" [nzData]='currentDisplayLessonList!'>
    <thead>
      <tr>
        <th nzCustomFilter>课程代码
          <nz-filter-trigger [(nzVisible)]="visibleSearchCode" [nzActive]="searchCodeValue.length > 0"
            [nzDropdownMenu]="searchCodeMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter>课程名称
          <nz-filter-trigger [(nzVisible)]="visibleSearchTitle" [nzActive]="searchTitleValue.length > 0"
            [nzDropdownMenu]="searchTitleMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th>课程描述</th>
        <th>班级</th>
        <th>学分</th>
        <th>班级人数</th>
        <th>课程类型</th>
        <th>学期</th>
        <th>助教需求数量</th>
        <th>目前申请数量</th>
        <th>已通过申请数量</th>
        <th>助教是否已报名满额</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of currentLessonInTable.data">
        <td>{{ data.code }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.class }}</td>
        <td>{{ data.score }}</td>
        <td>{{ data.studentNum }}</td>
        <td>{{ data.type }}</td>
        <td>{{ data.term }}</td>
        <td>{{ data.maxPass }}</td>
        <td>{{ data.all }}</td>
        <td>{{ data.pass }}</td>
        <td>{{ data.full?'是':'否' }}</td>

      </tr>
    </tbody>
  </nz-table>

  <!-- 课程名的搜索的下拉框 -->
  <nz-dropdown-menu #searchTitleMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <input class="w-44 mb-2 block" nz-input placeholder="按课程名搜索" [(ngModel)]="searchTitleValue" />
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchTitle()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetTitle()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <!-- code的搜索的下拉框 -->
  <nz-dropdown-menu #searchCodeMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <input class="w-44 mb-2 block" nz-input placeholder="按课程代码搜索" [(ngModel)]="searchCodeValue" />
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchCode()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetCode()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>
</div>
